[Unit]
Description=Boot to Gecko
After=miral-kiosk.service
BindsTo=miral-kiosk.service
ConditionUser=!root

[Service]
Type=simple
Environment=LD_LIBRARY_PATH=/opt/b2g DISPLAY=%t/wayland-0
ExecStartPre=/bin/sleep 10
ExecStart=/opt/b2g/b2g -profile %h/.b2g/profile -kiosk
Restart=always

[Install]
WantedBy=miral-kiosk.service
