[Unit]
Description=The Miral Kiosk
ConditionUser=!root

[Service]
Type=simple
Environment=HYBRIS_EGLPLATFORM=null
ExecStart=/usr/bin/miral-kiosk
Restart=always

[Install]
WantedBy=startup-precondition.target
