[Unit]
Description=The Miral Kiosk
ConditionUser=!root

[Service]
Type=simple
ExecStartPre=/usr/bin/startup-precondition
ExecStart=/usr/bin/miral-kiosk
Restart=always

[Install]
WantedBy=default.target
